<!-- this is a layout ejs file that will be used to inject html dynamically -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
</head>
<body>
    This is the layout
    <br>
    <!-- this is the call we used to inject html using the router -->
    <%- body %> 
    <br>
    This is the layout
</body>
</html>