<div class="sign_in_sign_up shadow">
    <div class="row">
        <div class="column text-center">
            <button class="arial-font shadow cool-button success-button" type="button" onclick="location.href='/sign_up'">
                Sign Up
            </button>
        </div>
        <div class="column text-center">
            <button class="arial-font shadow cool-button success-button" type="button" onclick="location.href='/sign_in'">
                Sign In
            </button>
        </div>
    </div>
</div>