
<button id="joinrandomlobby">Join a random lobby</button>
<button id="createlobby">Create a Lobby</button>
<button id="leaveroom">Leave Room</button>
<form id="form" action="">
    <input id="messagetext" type="text" autocomplete="off">
    <button id="sendmessage">Send message</button>
</form>
<ul id="messagecontainer"></ul>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io('/realtime');

    const jrl = document.getElementById("joinrandomlobby");
    const cl = document.getElementById("createlobby");
    const info = document.getElementById("info");
    const msgtxt = document.getElementById("messagetext");
    const msgbut = document.getElementById("sendmessage");
    const msgcont = document.getElementById("messagecontainer");

    jrl.addEventListener('click', (e) => {
        // e.preventDeafult();
        socket.emit('join-random-lobby', {random:true});
    });

    cl.addEventListener('click', (e) => {
        socket.emit('create-room');
    });

    msgbut.addEventListener('click', (e) => {
        e.preventDefault();
        if (msgtxt.value) {
            newMessage('self', msgtxt.value);
            socket.emit('room-message', {msg:msgtxt.value, sender:"xxx"});
            msgtxt.value = '';
        }
    });

    socket.on('message-from-server', (packet) => {
        newMessage(packet.sender, packet.msg);
    });

    socket.on('already-in-room', (packet) => {
        document.append(packet.msg)
    });

    function newMessage(sender, msg) {
        console.log(msg);
        var newmsg = document.createElement('li');
        newmsg.innerText = msg;
        msgcont.appendChild(newmsg);
    }

</script>
