.header {
    padding: 5px 20px;
    text-align: left;
    background: #1abc9c;
    color: white;
    font-size: 15px;
}

body {
    margin: 0px;
}

.arial-font {
    font-family: Arial, Helvetica, sans-serif;
}

.sign_in_sign_up {
    margin: auto;
    margin-top: 200px;
    height: 300px;
    width: 500px;
    border: 3px solid black;
    border-radius: 25px;
    padding-top: 95px;
}

.text-center{
    text-align: center;
}

.shadow {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.content {
    padding: 20px;
}

.cool-button {
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 0px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.success-button {
    background-color: #1abc9c;
}

* {
    box-sizing: border-box;
}