<!-- this is a layout ejs file that will be used to inject html dynamically -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
    <link rel="stylesheet" href="/css/layout.css">
</head>

<body>
    <div class="header arial-font">
        <h1><a href="/" class="header-link">Welcome to our Card Games Web App</a></h1>
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
    <%- body %> 
</body>

</html>