
    <p id="carddisplay">XXX</p>
    <button id="higher">Higher</button>
    <button id="lower">Lower</button>
    <p id="numcorrect">0</p>
    <p id="numwrong">0</p>
    <script type="module" src="/js/games/hilo/hilologic.js"></script>

