<h2> Sign In </h2>
<% if (locals.errorMessage != null) { %>
<%= errorMessage + " did you mean to " %> 
<a href="/sign_up">create an account?</a>
<%}%>

    <form action="/sign_in" method="POST">
        <div><label> Username:&nbsp  </label>
        <input type="text" name="username"></div>
        <div><label> Password:&nbsp </label>
        <input type="password" name="password"></div>
        <div><a href="/">cancel</a></div>
        <div><button type="submit"> Log In! </button></div>
    </form>