<h2>Dealer: <span id="dealer-sum"></span></h2>
<div id="dealer-cards">
    <img id="hidden" src="/js/games/blackjack/cards/BACK.png">
    <div id="dealer-upCard" class="dealer-upCard" data-value=""></div>

</div>

<h2> Player: <span id ="player-sum"></span></h2>
<div id="player-card-1" class="player-card-1" data-value=""></div>
<div id="player-card-2" class="player-card-2" data-value=""></div>
<div id="player-card-3" class="player-card-3" data-value=""></div>
<div id="player-card-4" class="player-card-4" data-value=""></div>
<div id="player-card-5" class="player-card-5" data-value=""></div>
<div id="player-card-6" class="player-card-6" data-value=""></div>
<br>
<button id="hit">Hit</button>
<button id="stay">Stay</button>
<p id="results"></p>

<script type="module" src="/js/games/blackjack/blackjacklogic.js"></script>