    <p id="basedisplay">XXX</p>
    <p id="challengedisplay">XXX</p>
    <button id="higher">Higher</button>
    <button id="lower">Lower</button>
    <p id="result"></p>
    <p id="numcorrect">0</p>
    <p id="numwrong">0</p>
    <button id="nextbutton" style="visibility:hidden">Next Card</button>
    <script type="module" src="/js/games/hilo/hilologic.js"></script>

