<div class="leaderboard">
    <table>
        <tr><h3>HiLo Wins Leaders</h3></tr>
        <% for (var i = 0; i < leaders.length; i++) { %>
            <tr> <td><%= leaders[i].username %></td> <td><%= leaders[i].hi_lo.wins %> <td></tr>
        <% } %>
</table>
</div>


    
    
    
    <p id="basedisplay">XXX</p>
    <p id="challengedisplay">XXX</p>
    <button id="higher">Higher</button>
    <button id="lower">Lower</button>
    <p id="result"></p>
    <p id="numcorrect">0</p>
    <p id="numwrong">0</p>
    <button id="nextbutton" style="visibility:hidden">Next Card</button>
    <p id="carddisplay">XXX</p>
    <button id="higher">Higher</button>
    <button id="lower">Lower</button>
    <p id="numcorrect">0</p>
    <p id="numwrong">0</p>
    <script type="module" src="/js/games/hilo/hilologic.js"></script>

