<center><h1>Please Choose a Game</h1></center>
<center>
<table id = "Multiplayer">
    <tr>
        <th><h2>Multiplayer Games</h2></th>
    </tr>
    <tr>
        <td id="td"><button class="game-btn"  onclick="window.location.href='/games/poker'"><h3>Poker</h3></button></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td id="td"><button class="game-btn"  onclick="window.location.href='/games/slap'"><h3>Slap</h3></a></button></td>
    </tr>
    <tr>
        <td id="td"><button class="game-btn" onclick ="window.location.href='/games/crazy8'"><h3>Crazy 8</h3></button></td>
    </tr>
</table> 
<table id = "singlePlayer">
    <tr>
        <th><h2>Single Player Games</h2></th>
    </tr>
    <tr>
        <td id="td"><button class="game-btn"  onclick="window.location.href='/games/hilo'"><h3>HiLo</h3></a></button></td>
    </tr>
</table>
</center>

<button id ="GoToLeaderboard" class="arial-font shadow cool-button success-button" onclick="window.location.href='/leaderboards'">Leaderboard</button>
<button id = "GoToProfile" class="arial-font shadow cool-button success-button" onclick="window.location.href='/profile'">Edit Profile</a></button>
