<script type="module" src="/js/games/poker/poker.js"></script>
<link rel="stylesheet" href="/css/poker.css">
<div class="table">
    <div class="player1">
        <!-- player info -->
    </div>
    <div class="player2">
        <!-- player info -->
    </div>
    <div class="player3">
        <!-- player info -->
    </div>
    <div class="player4">
        <!-- player info -->
    </div>
    <div class="player5">
        <!-- player info -->
    </div>
    <div class="player6">
        <!-- player info -->
    </div>
</div>
<div class="userpokertemplate">
    <div class="user-card-1"></div>
    <div class="user-card-2"></div>
    <div class="user-options">
        <button class="fold-button" role="button" id="fold" > FOLD </button>
        <button class="check-button" id="check"> CHECK </button>
        <button class="raise-button" id="raise"> RAISE BET </button>
        <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            <p>Chips: <span id="demo"></span></p>
        </div>
    </div>
</div>
<script type="module" src="/js/games/poker/poker.js"></script>