<link rel="stylesheet" href="/css/lobbytable.css">
<link rel="stylesheet" href="/css/slap.css">
<link rel="stylesheet" href="/css/chatbox.css">

<div id="content">
    <div id="pre-lobby" class="createRoomDisplay">
        <p>Create a room or join an available room</p>
        <button id="createRoom"> Create Room </button>
        <input type="text" id="roomName" placeholder="Create a Room">
        <button id="refresh-rooms">Refresh Rooms</button>
        <div id="rooms-table" class="rooms-table">
            <table class="available-rooms">
                <thead>
                    <tr>
                        <th>Available Rooms</th>
                        <th>Active Players</th>
                        <th>Join</th>
                    </tr>
                </thead>
                <tbody id="available-rooms" >
        
                </tbody>
            </table>
        </div>
    </div>

    <div id="chatbox"></div>

    <div id="in-lobby">
        <p>PLAYERS IN HERE:</p>
        <ul id="players-in-lobby">
        </ul>
        <button id="leave">Leave Lobby</button>
    </div>
    
    <div id="prep">
        <p>Starting Game...</p>
    </div>
    
    <div id="game" class="game">
        <div id="play-area">
            <div id="play-table">
                <div id="deck"></div>
            </div>
            <button id="slap" class="action">SLAP!</button>
            <button id="play" class="action">Play</button>
        </div>
    </div>
</div>

<script type="module" src="/js/games/slap/slap.js"></script>