<div class="computer-deck deck"></div>
<div class="computer-card-slot card-slot"></div>
<div class="text"></div>
<div class="player-deck deck"></div>
<div class="player-card-slot card-slot"></div>
<script type="module" src="/js/games/war/warlogic.js"></script>
