.header {
    padding: 5px 20px;
    text-align: left;
    background: #1abc9c;
    color: white;
    font-size: 15px;
}

body {
    margin: 0px;
}

.arial-font {
    font-family: Arial, Helvetica, sans-serif;
}

.header-link {
    color: white;
    text-decoration: none;
    
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  ::-ms-reveal {
    display: none;
}

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 75%; /* Could be more or less, depending on screen size */
    border-radius: 25px;
    border: 2px solid #1abc9c;
    padding: 20px; 
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.sign_in_sign_up {
    margin: auto;
    margin-top: 200px;
    height: 300px;
    width: 500px;
    border: 3px solid black;
    border-radius: 25px;
    padding-top: 95px;
}

.text-center{
    text-align: center;
}

.shadow {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.content {
    padding: 20px;
}

.cool-button {
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 0px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.success-button {
    background-color: #1abc9c;
}

* {
    box-sizing: border-box;
}

.deck {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .5rem;
    color: white;
    user-select: none;
  }
  .computer-deck {
    background-color: green;
  }
  
  .player-deck {
    background-color: blue;
  }
  .card {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
  }
  
  .card.red {
    color: red;
  }
  
  .card.black {
    color: black;
  }

  .card::before,
  .card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1rem;
  }
  
  .card::before {
    top: .5rem;
    left: .5rem
  }
  
  .card::after {
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
  }

h2 {
    text-align: center;
}

form {
    text-align: center;
}

.content_img{
    position: relative;
    width: 150px;
    height: 150px;
    margin:auto;
    right: 100px;

}

.content_img div{
    position: relative;
    background: black;
    color: white;
    margin-bottom: 0px;
    top: -200px;
    left: 100px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}

.content_img:hover{
    cursor: pointer;
}	

.content_img:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
}

.ProfPic {
    background-color: black;
    color: white;
    opacity: 0.7;
    border: none;
}


#logout-btn {
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 10px; 
    width: 150px;
    height: 35px;
    position: absolute;
    top: 30px;
}

#imageUpload
{
    display: none;
}
#profileImage
{
    cursor: pointer;
}
#profile-container {
    position:absolute;
    right: 45%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
#profile-container img {
    width: 150px;
    height: 150px;
}

#style {
    border-radius: 25px;
    border: 2px solid #1abc9c;
    padding: 20px; 
    width: 200px;
    height: 15px;
    text-align: center;   
}


