.header {
    padding: 5px 20px;
    text-align: left;
    background: #1abc9c;
    color: white;
    font-size: 15px;
}

body {
    margin: 0px;
}

.arial-font {
    font-family: Arial, Helvetica, sans-serif;
}

.header-link {
    color: white;
    text-decoration: none;
    
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  ::-ms-reveal {
    display: none;
}

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 75%; /* Could be more or less, depending on screen size */
    border-radius: 25px;
    border: 2px solid #1abc9c;
    padding: 20px; 
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.sign_in_sign_up {
    margin: auto;
    margin-top: 200px;
    height: 300px;
    width: 500px;
    border: 3px solid black;
    border-radius: 25px;
    padding-top: 95px;
}

.text-center{
    text-align: center;
}

.shadow {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.content {
    padding: 20px;
}

.cool-button {
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 0px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.success-button {
    background-color: #1abc9c;
}

* {
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}

.content_img{
    position: relative;
    width: 150px;
    height: 150px;
    margin:auto;
    right: 100px;

}

.content_img div{
    position: relative;
    background: black;
    color: white;
    margin-bottom: 0px;
    top: -200px;
    left: 100px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}

.content_img:hover{
    cursor: pointer;
}	

.content_img:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
}

.ProfPic {
    background-color: black;
    color: white;
    opacity: 0.7;
    border: none;
}


#logout-btn {
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 10px; 
    width: 150px;
    height: 35px;
    position: absolute;
    top: 30px;
}

#Multiplayer {
    position: absolute;
    left: 400px;
    top: 70px;
}

#singlePlayer {
    position: absolute;
    left: 700px;
    top: 70px;
}

#imageUpload
{
    display: none;
}
#profileImage
{
    cursor: pointer;
}
#profile-container {
    position:absolute;
    right: 45%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
#profile-container img {
    width: 150px;
    height: 150px;
}

#style {
    border-radius: 25px;
    border: 2px solid #1abc9c;
    padding: 20px; 
    width: 200px;
    height: 15px;
    text-align: center;   
}

a:link { 
    text-decoration: none; 
}

a:visited { 
    text-decoration: none; 
}


a:hover { 
    text-decoration: none; 
}


a:active { 
    text-decoration: none; 
}

a {
    color: white;
}

#GoToProfile {
    position: absolute;
    top: 100px;
    right: 40px;
    width: 190px;
}
#GoToLeaderboard {
    position: absolute;
    top: 170px;
    right: 40px;    
    width: 190px;

}


#td {
    border-radius: 15px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #1abc9c;
    padding: 20px; 
}
  

.game-btn {
    background-color: white;
    border: none;
}

#room {
    text-align: center;
}

.leaderboard{
    height: 150px;
    overflow: scroll;
    border:2px solid black;
    border-radius: 10px;

}
.tableStyle {
          border:2px solid black;
          border-radius: 10px;
          text-align:center;
          width: 900px;
          background-color: white
    }
    H1 {
        color: white;
    }
    .centered {
          position: fixed;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);
    }
    
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
margin: 0px;
padding: 0px;
}

body{
font-family: 'Exo', sans-serif;
}


.context {
width: 100%;
position: absolute;
top:50vh;

}

.context h1{
text-align: center;
color: #fff;
font-size: 50px;
}


.area{
background: #1abc9c;  
background: -webkit-linear-gradient(to left, black, #2f3370);  
width: 100%;
height:100vh;


}

.circles{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
}

.circles li{
position: absolute;
display: block;
list-style: none;
width: 20px;
height: 20px;
background: rgba(0, 0, 0, 0.5);
animation: animate 25s linear infinite;
bottom: -150px;

}

.circles li:nth-child(1){
left: 25%;
width: 80px;
height: 80px;
animation-delay: 0s;
}


.circles li:nth-child(2){
left: 10%;
width: 20px;
height: 20px;
animation-delay: 2s;
animation-duration: 12s;
}

.circles li:nth-child(3){
left: 70%;
width: 20px;
height: 20px;
animation-delay: 4s;
}

.circles li:nth-child(4){
left: 40%;
width: 60px;
height: 60px;
animation-delay: 0s;
animation-duration: 18s;
}

.circles li:nth-child(5){
left: 65%;
width: 20px;
height: 20px;
animation-delay: 0s;
}

.circles li:nth-child(6){
left: 75%;
width: 110px;
height: 110px;
animation-delay: 3s;
}

.circles li:nth-child(7){
left: 35%;
width: 150px;
height: 150px;
animation-delay: 7s;
}

.circles li:nth-child(8){
left: 50%;
width: 25px;
height: 25px;
animation-delay: 15s;
animation-duration: 45s;
}

.circles li:nth-child(9){
left: 20%;
width: 15px;
height: 15px;
animation-delay: 2s;
animation-duration: 35s;
}

.circles li:nth-child(10){
left: 85%;
width: 150px;
height: 150px;
animation-delay: 0s;
animation-duration: 11s;
}



@keyframes animate {

0%{
transform: translateY(0) rotate(0deg);
opacity: 1;
border-radius: 0;
}

100%{
transform: translateY(-1000px) rotate(720deg);
opacity: 0;
border-radius: 50%;
}

} 

#imgPreview{
    width: 10%;
    height: 15%;
    border-radius: 50%;
}

.ProfilePic {
    color: white;
    position: absolute;
    right: 520px;
}

  