.game {
    display: none;
}

#pre-lobby {
    background-color:purple;
}
#in-lobby {
    background-color: palevioletred;
    display:none;
}
#prep {
    background-color:peru;
    display:none;
}

.room-name {}

.join-room-button {}

.createRoomDisplay {
    display: block;
    margin-left: 5rem;
    margin-top: 2rem;
    font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, "Roboto Slab", "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
}

.createRoomDisplay p {
    font-size: 30px;
}

.createRoomDisplay button {
    background: #1abc9c;
    border-radius: 11px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, "Roboto Slab", "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
    font-size: 1em;
    font-weight: 700;
    justify-content: center;
    padding-top: .2em;
    text-align: center;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    user-select: none;
    -webkit-user-select: none;
    width: 200px;
    height: 30px;
    border: 0;
}

.createRoomDisplay input {
    width: 20%;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-right: 40rem;
    padding: 12px;
}

.rooms-table {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 10rem;
}

.rooms-table table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 2px;
}

.rooms-table td,
th {
    border: 1px solid #dddddd;
    padding: 8px;
}

.rooms-table td {
    padding-left: 3rem;
}

.rooms-table tr:nth-child(even) {
    background-color: #dddddd;
}