.table {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 400px;
    background: #a84909;
    border-radius: 200px;
    margin-top: 5rem;
    border: 7px solid black
}

.player1 {
    position: relative;
    width: 100px;
    height: 100px;
    border: 5px solid black;
    background-color: black;
    border-radius: 100px;
}

.player2 {
    position: relative;
    top: 11.5rem;
    width: 100px;
    height: 100px;
    border: 5px solid black;
    background-color: black;
    border-radius: 100px;
}

.player3 {
    position: relative;
    width: 100px;
    height: 100px;
    border: 5px solid black;
    background-color: black;
    left: 21rem;
    bottom: 15.5rem;
    border-radius: 100px;
}

.player4 {
    position: relative;
    width: 100px;
    height: 100px;
    border: 5px solid black;
    background-color: black;
    left: 21rem;
    top: 2.5rem;
    border-radius: 100px;
}

.player5 {
    position: relative;
    width: 100px;
    height: 100px;
    border: 5px solid black;
    background-color: black;
    left: 42rem;
    bottom: 7rem;
    border-radius: 100px;
}

.player6 {
    position: relative;
    width: 100px;
    height: 100px;
    border: 5px solid black;
    background-color: black;
    left: 42rem;
    bottom: 31.5rem;
    border-radius: 100px;
}

.userpokertemplate {
    height: 195px;
    border: 5px solid black;
    background-color: #a84909;
    margin-top: 70px;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
}

.user-card-1 {
    position: relative;
    width: 100px;
    height: 150px;
    border: 3px solid black;
    background-color: white;
    left: 25rem;
    top: 17px;
    border-radius: 10px;
}

.user-card-2 {
    position: relative;
    width: 100px;
    height: 150px;
    border: 3px solid black;
    background-color: white;
    left: 32rem;
    bottom: 8.33rem;
    border-radius: 10px;
}

.fold-button {
    position: absolute;
    bottom: 7rem;
    left: 40rem;
    background: #94051d;
    border-radius: 11px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, "Roboto Slab", "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
    font-size: 1em;
    font-weight: 700;
    justify-content: center;
    padding-top: .2em;
    text-align: center;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    user-select: none;
    -webkit-user-select: none;
    width: 100px;
    height: 30px;
    border: 0;
}

.fold-button:hover {
    background: #d3465e;
}

.check-button {
    position: absolute;
    bottom: 9rem;
    left: 40rem;
    background: #06c857;
    border-radius: 11px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, "Roboto Slab", "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
    font-size: 1em;
    font-weight: 700;
    justify-content: center;
    padding-top: .2em;
    text-align: center;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    user-select: none;
    -webkit-user-select: none;
    width: 200px;
    height: 30px;
    border: 0;
}

.check-button:hover {
    background: #34ed81;
}

.raise-button {
    position: absolute;
    bottom: 7rem;
    left: 46.3rem;
    background: #d19017;
    border-radius: 11px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, "Roboto Slab", "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
    font-size: 1em;
    font-weight: 700;
    justify-content: center;
    padding-top: .2em;
    text-align: center;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    user-select: none;
    -webkit-user-select: none;
    width: 100px;
    height: 30px;
    border: 0;
}

.raise-button:hover {
    background: #e0a02a;
}

.user-options{
    position: absolute;
    bottom: 0;
    left: 8.5rem;
}

.slidecontainer {
    position: relative;
    width: 20rem;
    left: 36.5rem;
    bottom: 1rem;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }